#dc-body{
    background-image: url("../images/dungeon-texture.png");
    background-repeat: repeat;
    width: 100%;
}

#dc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: fit-content;
    padding: 40px 20px;
    margin: 150px auto 150px auto;
    font-size: 24px;
    background-color: #738276;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px black;
}
#dc-option-buttons{
    display: grid;
    margin: 20px;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
    font-size: 22px;
}
.dc-btn{
    color: black;
    background-color: hsl(0,0%,80%);
    border: 2px solid gray;
    padding: 30px;
    font-size: 22px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 2px 2px 5px 1px black;
}
.dc-btn:hover, .dc-btn:active{
    border-color: black;
    background-color: hsl(0,0%,100%)
}

#dc-health-bar{
    margin: 20px;
    width: 60%;
    height: 30px;
    background: #ff0000;
}
#dc-health-label{
    margin: 0 auto;
}
#dc-health{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dc-javascript-warning{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px auto;
    background-color: #ff0000;
    color: #ffffff;
    z-index: 9;
    text-align: center;
}
#dc-settings.audio-setting{
    display: block;
    font-size: 60px;
    transition: 0.2s;
}
#dc-settings.audio-setting:hover{
    color: white;
}
@media (max-width: 1080px){
    #dc-option-buttons{
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 768px){
    #dc-container{
        width: 90%;
    }
    #dc-text{
        font-size: 22px;
        text-align: center;
    }
    .dc-btn{
        padding: 15px;
    }
    #dc-stats{
        width: 100%;
        font-size: 22px;
        margin: 10px auto;
    }
    #dc-option-buttons{
        grid-template-columns: repeat(1, auto);
    }
    #dc-health-bar{
        width: 80%;
    }
    #dc-health{
        flex-direction: column;
    }
}