#dc-body{
    background-image: url("../images/dungeon-texture.png");
    background-repeat: repeat;
    width: 100%;
}

#dc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: fit-content;
    padding: 40px 20px;
    margin: 150px auto;
    font-size: 24px;
    background-color: #738276;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px black;
}
#dc-option-buttons{
    display: grid;
    margin: 20px;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
    font-size: 22px;
}
.dc-btn{
    color: black;
    background-color: hsl(0,0%,80%);
    border: 2px solid gray;
    padding: 30px;
    font-size: 22px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 2px 2px 5px 1px black;
}
.dc-btn:hover, .dc-btn:active{
    border-color: black;
    background-color: hsl(0,0%,100%)
}
#dc-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-basis: 100%;
}
.dc-player-stats{
    width: 100px;
    padding: 10px;
    margin: 10px;
}
#dc-health-bar{
    margin: 20px;
    width: 60%;
    height: 30px;
    background: #ff0000;
}

