/*

    INFORMATION REGARDING COMMENTS
    Each line of comments either annotates the line of code below itself or is used
    for ease of reading. Comments are used to seperate each part of the program into
    sections. For example, a contact page may have the contact form seperate from the
    contact details. They may also be used to essentially draw a line between sections
    to visually seperate them so that it is easier to read

*/

/* Style applicable to every page */
    /* Style applicable to the header */
    .header{
        display: flex;
        width: 100%;
        max-height: 200px;
        padding: 20px;
        background-color: #808080;
        justify-content: space-between;
        align-items: center;
    }

    /* Style applicable to the navigation */
    nav{
        width: fit-content;
        display: inline;
        float: right;
    }
    .navigation{
        display: inline-block;
        overflow: hidden;
        margin-right: 10px;
    }
    .navigation-list{
        list-style-type: none;
        margin: 0;
        padding: 15px;
        float: right;
        display: flex;
    }
    .navigation-item{
        display: inline;
        float: right;
        margin: 0 auto;
        padding:30px;
        font-size: 26px;
        -webkit-transition: color 3s;
        -moz-transition: color 3s;
        -o-transition: color 3s;
        transition: color 3s;
    }
    .navigation-item:hover{
        color: #f5f5f5;
    }
    .navigation-item.active{
        color: #f5f5f5;
    }
    /* Style applicable to the body */
    body, html{
        padding: 0;
        margin: 0;
    }
    /* Other style rules */
    h1{
        margin: 0;
        font-size: 56px;
    }
/* End of section

/* Style applicable to index.html */
#index-call-to-action{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* End of section */

/* Responsive Cutoff A */
/* */
/* End of section */

/* Responsive Cutoff B */
/* */
/* End of section */

/* Responsive Cutoff c */
/* */
/* End of section */